body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.online-scrapbooks {
  color: blue;
  text-decoration: underline;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

header {
  background-image: url('hinh/header.jfif');
  background-repeat: no-repeat;
  background-position: right;
  padding: 20px 0;
  background-size: 600px;
  text-align: center;
}
hr {
  border-top: 1px solid #FFB800; 
}
.logo h1 {
  margin: 0;
  font-size: 2em;
  color: #333; 
}

.content-wrapper {
  display: flex;
}

nav {
  background-image: url(hinh/back.jpg);
  padding: 15px;
  width: 160px;
  flex: 0 0 25%;
  position: fixed; 
  top: 70px;
  left: 0; 
  height: 100vh; 
  overflow-y: auto; 
}
p {
  font-family: Times New Roman;
  color: #8B0000; 
}

nav ul li a::before {
  content: "• "; 
  margin-right: 8px; 
  color: darkred; 
  text-decoration: none; 
  display: inline-block;
}


nav ul {
  list-style-type: none; 
  padding: 0;
}

nav ul li {
  margin: 5px 0; 
}

nav ul li a {
  text-decoration: underline; 
  color: blue; 
  font-weight: bold; 
}

main {
  flex: 1;
  padding: 15px;
  background-color: #fff; 
}

main h2 {
  color: #FFB800;
}

main h3 {
  color: #555;
}

.basic-materials {
  width: 200px; 
  height: 200px; 
  padding: 10px; 
  border: 2px solid #000; 
  box-sizing: border-box; 
  overflow: auto;  
  background-color:  #FFF5E1;
  border-top: 4px solid #FFB800; 
  border-right: 4px solid #000; 
  border-bottom: 4px solid #000; 
  border-left: 4px solid #FFB800; 
  border-radius: 0;
  width:35%;
  float:right;
  border-radius: 5px; 
}

.basic-materials h2 {
  text-align: left;
  font-size: 23px; 
  margin-top: 0;
}

.basic-materials ul {
  list-style: square;
  padding-left: 20px;
  color:#8B0000;
  font-size: 10pt;
  margin-left: 0;
}

footer {
  padding: 10px 0;
  margin-top: 20px;
  text-align: center;
  color: #FFB800;
}

.footer-container {
  text-align: center;
  margin: 0 auto;
  width: 80%; 
  background-color: #f0f0f0;
}